body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #6200EA
}

<<<<<<< HEAD
i {
    font-style: italic
}

.container {
    margin-top: 100px
=======
/*Div que contiene a la fecha iterativa JS*/
#boxMesIterativo{
    /* border: 2px solid navy; */
    display: none;
    width: 100%;
    /* background-color: #efb810; */
>>>>>>> de23fb684a2a94c6876eb4a08552cfdb300253af
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

<<<<<<< HEAD
.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
    background-color: #fff
}

.widget-subheading {
    color: #858a8e;
    font-size: 10px
=======
#titleContainer, #brb{
    padding-left: 15px;
}

#addElement {
    display: none;
}

.closeButton {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #cc6600;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    right: -20px;
}
/*Estilo de la página */
#headerI {
    color:#59371c;
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: xx-large;
}
.inputDate{
    color:#59371c;
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: large;
}

input#inputDate {
    padding-right: 20px;
}

input[type="text"] {
  width: 15%;
  padding: 5px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type="text"]:focus {
  background-color:#59371c;
}
.button {
    background-color: white;
    border: none;
    color: #050404;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button {
    background-color: white;
    color:  #59371c;
    border: 1px solid  #59371c;
  }
  .button:hover {
    background-color: #59371c;
    color: white;
  }
  .saludando {
    color:white;
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: x-large;
  }
/* Poninendo Task*/
#boxMesIterativo {
    color: #59371c;
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: large;
}

#titleTasks{
    color: white;
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: x-large;
}

#taskToInputContainer{
    color:#59371c;
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: large;
}

#priority, #userSelected{
    background-color: white;
    border: none;
    color: #050404;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#priority, #userSelected{
    background-color: white;
    color:  #59371c;
    border: 1px solid  #59371c;
}

#priority:hover, #userSelected:hover{
    background-color: #59371c;
    color: white;
}

#listTitle {
    color:#59371c;
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: medium;
}

#credits{
    color:white;
    font-family: Garamond, serif; 
}

/*ESTILO DE LA NAVBAR A LA DERECHA INICIO*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
    text-decoration: none;
    color: rgb(3, 155, 155);
}

a:hover {
    color: rgba(249, 105, 14, 1);
}

ul {
    list-style: none;
>>>>>>> de23fb684a2a94c6876eb4a08552cfdb300253af
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.card-header .header-icon {
    font-size: 1.65rem;
    margin-right: 0.625rem
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap
}

.text-capitalize {
    text-transform: capitalize !important
}

.scroll-area-sm {
    height: 288px;
    overflow-x: hidden
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125)
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0
}

.todo-indicator {
    position: absolute;
    width: 4px;
    height: 60%;
    border-radius: 0.3rem;
    left: 0.625rem;
    top: 20%;
    opacity: .6;
    transition: opacity .2s
}

.bg-warning {
    background-color: #f7b924 !important
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center
}

.widget-content .widget-content-right.widget-content-actions {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s
}

.widget-content .widget-content-right {
    margin-left: auto
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s
}

.btn-outline-success {
    color: #3ac47d;
    border-color: #3ac47d
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d
}

.btn-primary {
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    outline: none !important
}

.card-footer {
    background-color: #fff
}

.submitDate {
    padding-left: 12%;
}

#inputDate {
    background-color: #fff;
}

#saludo {
    color: #fff;
    padding-left: 12%;
    padding-top: 1%;
}

.btnToLogout {
    padding-left: 11.7%;
}