<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>

    <!-- link calendar resources -->
    <!-- <link rel="stylesheet" type="text/css" href="/static/styleGeneral.css" /> -->
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/static/styleCalendar.css" />
    <link rel="stylesheet" type="text/css" href="/static/styleCalendar_Template.css" />
    <link rel="stylesheet" href="/static/styleAddTask.css" />
    <link rel="shortcut icon" href="/static/images/calendarImageLogo.png" />
</head>

<body>
    <h1 id="saludo">Welcome {{username}}</h1>

    <div class="row d-flex justify-content-center container">
        <div class="col-md-8">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        <i class="fa fa-tasks"></i>&nbsp;{{username}}'s Task Lists
                    </div>

                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <form class="inputTask" action="{{url_for('addtasktoBD')}}" method="POST">
                                    <label for="inputDate" class="labelsIN">Pick a date:</label><br>
                                    <div>
                                        <input type="text" name="date" class="tcal" value="" id="inputDate"
                                            autocomplete="off" />
                                    </div>
                                    <br>
                                    <label for="task" class="labelsIN">Task:</label><br>
                                    <input type="text" id="task" name="task" value="" autocomplete="off" />
                                    <br><br>

                                    <label for="priority" class="labelsIN">Set priority:</label><br>
                                    <select name="priority" id="priority">
                                        <option value="Baja">Baja</option>
                                        <option value="Media">Media</option>
                                        <option value="Alta">Alta</option>
                                    </select><br><br>

                                    <label for="categoria" class="labelsIN">Selecciona una categoria:</label><br>
                                    <select name="categoria" id="categoria">
                                        {% if categorias %}
                                        {% for categoria in categorias %}
                                        <option value="{{categoria.categoria}}">{{categoria.categoria}}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select><br><br>

                                    <button type="button" class="btn btn-primary" id="agCat"
                                        onclick="agregarCategoria()">
                                        <strong>¡Click para agregar categoria!</strong>
                                    </button>
                                    <br><br>

                                    <label for="nuevaCategoria" class="labelsIN">Ingresa la categoria nueva:</label><br>
                                    <input type="text" id="nuevaCategoria" name="nuevaCategoria" value=""
                                        autocomplete="off" disabled />
                                    <br><br>

                                    <input type="submit" class="btn btn-primary" value="Submit" class="button" />


                                </form>
                                <ul class=" list-group list-group-flush">

                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
                <div class="d-block text-right card-footer">
                    <a class="mr-2 btn btn-link btn-sm" href="{{url_for('todolist')}}">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <div class="btnToLogout">
        <a class="btn btn-primary" href="{{url_for('logout')}}">Logout</a>
    </div>



    <script src='/static/scriptCalendar_Template.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="/static/scriptAddTask.js"></script>
</body>

</html>