<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>

    <!-- link calendar resources -->
    <link rel="stylesheet" type="text/css" href="/static/styleGeneral.css" />
    <link rel="stylesheet" type="text/css" href="/static/styleCalendar.css" />
    <link rel="shortcut icon" href="/static/images/calendarImageLogo.png" />
</head>

<body>

    <header>
        <div class="container">
            <nav>
                <div class="burger-menu-icon">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="">
                            <img src="/static/images/perfil.jpeg" alt="Logo" class="profile-pic nav-link" />
                            <br>
                            <span class="caption nav-link" id="userNavBar">Username</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" id="emailNavBar">E-mail</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('logout')}}" class="nav-link">Log off</a>
                    </li>
                    <li class="nav-item">
                        <a href="" target="_blank" class="nav-link">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="" target="_blank" class="nav-link">
                            <i class="fab fa-dev"></i>
                        </a>
                        <a href="" target="_blank" class="nav-link">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <div class="cta">
                        <a href="#" target="_blank" class="btn nav-link">Let's keep working!</a>

                    </div>
                </ul>
            </nav>
        </div>
    </header>

    <br><br>

    <h1 id="headerI">Calendar || To-Do List</h1>

    <br>

    <div class="saludando">
        <h2 id="saludo">Welcome {{username}}</h2>
    </div>

    <br><br>

    <div style="text-align: center">
        <a class="button" href="{{url_for('addtask')}}">Agregar una nueva tarea</a>
        <a class="button" href="{{url_for('todolist')}}"> Ver las tareas disponibles</a>
    </div>

    </div>

    <br>
    <br>
    <br>

    <footer>
        <h4 id="credits">By Carbono 06</h4>
    </footer>

    <script src="/static/scriptCalendar.js"></script>

</body>

</html>