<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="shortcut icon" href="/static/images/calendarImageLogo.png" />
    <link rel="stylesheet" href="/static/styleLogin.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='styleLogin.css')}}"> -->
</head>

<body>

    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>ToDo<span>List</span></div>
    </div>
    <br>
    
    <div class="login">
        <h3 style="color: red; font-weight: bold;">
            {% if message %}
                {{message}}
            {% endif %}
        </h3>
        <form action="{{url_for('login')}}" method="POST">
            <input type="text" placeholder="Correo Electrónico" name="email"><br>
            <input type="password" placeholder="Contraseña" name="passw"><br>
            <div class="g-recaptcha" data-sitekey="6LdRpTIbAAAAAFxW88b00vZPoyt7Hd5c4RweFjaP"></div>
            <input type="submit" value="Iniciar Sesión">
        </form>

        <div class="redregister">
            <h4 id="regLink">¿No tienes una cuenta?
                <a href="/registration">Regístrate</a>
            </h4>
        </div>

        <div class="goBack">
            <a href="/">Regresar</a>
        </div>
    </div>


</body>

</html>