<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>

    <!-- link calendar resources -->
    <!-- <link rel="stylesheet" type="text/css" href="/static/styleGeneral.css" /> -->
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/static/styleCalendar.css" />
    <link rel="stylesheet" type="text/css" href="/static/styleCalendar_Template.css" />
    <link rel="shortcut icon" href="/static/images/calendarImageLogo.png" />
</head>

<body>
    <h1 id="saludo">Welcome {{username}}</h1>

    <div class="submitDate">
        <form class="inputDate" action="{{url_for('peakTasks')}}" method="POST">
            <label for="inputDate" style="color: antiquewhite;">Pick a date:</label><br>
            <div>
                <input type="text" name="date" class="tcal" value="" id="inputDate" autocomplete="off" />
            </div>
            <br>
            <input type="submit" value="Submit" class="button btn btn-primary" />
        </form>
    </div>

    <div class="row d-flex justify-content-center container">
        <div class="col-md-8">
            <div class="card-hover-shadow-2x mb-3 card">
                <form action="{{url_for('checkTask')}}" method="POST" id="formUPD-FIL">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                            <i class="fa fa-tasks"></i>&nbsp;{{username}}'s Task Lists
                            {% if date %}from {{date}}{% endif %}
                        </div>
                        <div class="updateBTN" style="display: block;" id="updateBTN">
                            <input type="submit" name="update" value="Marcar tareas como hechas"
                                class="btn btn-primary" />
                        </div>
                        <div class="deleteBTN" style="display: block;" id="deleteBTN">
                            <input type="submit" name="delete" value="Eliminar tareas" class="btn btn-primary" />
                        </div>
                        <div class="filters" style="display: none;" id="filtersInputs">
                            <!-- Select -->
                            <select class="custom-select-sm" size="1" style="opacity: 100;" name="filtroPrioridad">
                                <option value="-" selected>Todas</option>
                                <option value="Alta">Alta</option>
                                <option value="Media">Media</option>
                                <option value="Baja">Baja</option>
                            </select>
                            <!-- End Select -->

                            <!-- Select -->
                            <select class="custom-select-sm" size="1" style="opacity: 100;" name="filtroCategoria">
                                <option value="-" selected>Todas</option>
                                {% if categorias %}
                                {% for categoria in categorias %}
                                <option value="{{categoria.categoria}}">{{categoria.categoria}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                            <!-- End Select -->

                            <!-- Select -->
                            <select class="custom-select-sm" size="1" style="opacity: 100;" name="filtroEstado">
                                <option value="-" selected>Todas</option>
                                <option value="0">Activas</option>
                                <option value="1">Inactivas</option>
                            </select>
                            <!-- End Select -->
                            <input type="submit" id="applyFilters" value="Aplicar" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="scroll-area-sm">
                        <perfect-scrollbar class="ps-show-limits">
                            <div style="position: static;" class="ps ps--active-y">
                                <div class="ps-content">
                                    <ul class=" list-group list-group-flush">
                                        {% if tasks %}
                                        {% for task in tasks %}
                                        {% if task.priority == "Alta" %}
                                        <li class="list-group-item">
                                            <div class="todo-indicator bg-warning">
                                            </div>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left mr-2">
                                                        <div class="custom-checkbox custom-control">
                                                            {% if task.estado == 0 %}
                                                            <input class="custom-control-input"
                                                                id="tarea{{task.taskid}}" type="checkbox"
                                                                value="{{task.taskid}}" name="tarea{{task.taskid}}">
                                                            <label class="custom-control-label"
                                                                for="tarea{{task.taskid}}">&nbsp;</label>
                                                            {% endif %}
                                                            {% if task.estado == 1 %}
                                                            <input class="custom-control-input"
                                                                id="tarea{{task.taskid}}" type="checkbox"
                                                                value="{{task.taskid}}" name="tarea{{task.taskid}}"
                                                                disabled>
                                                            <label class="custom-control-label"
                                                                for="tarea{{task.taskid}}">&nbsp;</label>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">{{task.task}}
                                                            <div class="badge badge-danger ml-2">
                                                                Prioridad: {{task.priority}}
                                                            </div>
                                                        </div>
                                                        <div class="widget-subheading">
                                                            <i>Categoria: {{task.categoria}}</i>
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-right">
                                                        {% if task.estado == 0 %}
                                                        <span class="border-0 btn-transition btn btn-outline-danger">
                                                            <i class="fa">❌</i>
                                                        </span>
                                                        {% endif %}
                                                        {% if task.estado == 1 %}
                                                        <span class="border-0 btn-transition btn btn-outline-success">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% if task.priority == "Media" %}
                                        <li class="list-group-item">
                                            <div class="todo-indicator bg-success"></div>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left mr-2">
                                                        <div class="custom-checkbox custom-control">
                                                            {% if task.estado == 0 %}
                                                            <input class="custom-control-input"
                                                                id="tarea{{task.taskid}}" type="checkbox"
                                                                value="{{task.taskid}}" name="tarea{{task.taskid}}">
                                                            <label class="custom-control-label"
                                                                for="tarea{{task.taskid}}">&nbsp;</label>
                                                            {% endif %}
                                                            {% if task.estado == 1 %}
                                                            <input class="custom-control-input"
                                                                id="tarea{{task.taskid}}" type="checkbox"
                                                                value="{{task.taskid}}" name="tarea{{task.taskid}}"
                                                                disabled>
                                                            <label class="custom-control-label"
                                                                for="tarea{{task.taskid}}">&nbsp;</label>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">{{task.task}}
                                                            <div class="badge badge-pill badge-info ml-2">
                                                                Prioridad: {{task.priority}}
                                                            </div>
                                                        </div>
                                                        <div class="widget-subheading">
                                                            <i>Categoria: {{task.categoria}}</i>
                                                        </div>
                                                    </div>

                                                    <div class="widget-content-right">
                                                        {% if task.estado == 0 %}
                                                        <span class="border-0 btn-transition btn btn-outline-danger">
                                                            <i class="fa">❌</i>
                                                        </span>
                                                        {% endif %}
                                                        {% if task.estado == 1 %}
                                                        <span class="border-0 btn-transition btn btn-outline-success">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% if task.priority == "Baja" %}
                                        <li class="list-group-item">
                                            <div class="todo-indicator bg-primary"></div>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left mr-2">
                                                        <div class="custom-checkbox custom-control">
                                                            {% if task.estado == 0 %}
                                                            <input class="custom-control-input"
                                                                id="tarea{{task.taskid}}" type="checkbox"
                                                                value="{{task.taskid}}" name="tarea{{task.taskid}}">
                                                            <label class="custom-control-label"
                                                                for="tarea{{task.taskid}}">&nbsp;</label>
                                                            {% endif %}
                                                            {% if task.estado == 1 %}
                                                            <input class="custom-control-input"
                                                                id="tarea{{task.taskid}}" type="checkbox"
                                                                value="{{task.taskid}}" name="tarea{{task.taskid}}"
                                                                disabled>
                                                            <label class="custom-control-label"
                                                                for="tarea{{task.taskid}}">&nbsp;</label>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-left flex2">
                                                        <div class="widget-heading">{{task.task}}
                                                            <div class="badge badge-pill ml-2"
                                                                style="background-color: #F9E79F;">
                                                                Prioridad: {{task.priority}}
                                                            </div>
                                                        </div>
                                                        <div class="widget-subheading">
                                                            <i>Categoria: {{task.categoria}}</i>
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-right">
                                                        {% if task.estado == 0 %}
                                                        <span class="border-0 btn-transition btn btn-outline-danger">
                                                            <i class="fa">❌</i>
                                                        </span>
                                                        {% endif %}
                                                        {% if task.estado == 1 %}
                                                        <span class="border-0 btn-transition btn btn-outline-success">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </perfect-scrollbar>
                    </div>
                </form>
                <div class="d-block text-right card-footer">
                    <button class="btn btn-primary" onclick="cambioDecision()" id="decisionboton">
                        Filtrar tareas
                    </button>
                    <a class="btn btn-primary" href="{{url_for('addtask')}}">Add Task</a>
                </div>

            </div>
        </div>
    </div>

    <div class="btnToLogout">
        <a class="btn btn-primary" href="{{url_for('logout')}}">Logout</a>
    </div>

    <div class="containerTip">
        <h4 id="tituloTip">Recomendación del día:</h4>
        <div class="innerContainerTip">
            <h5 id="nombreTip">{{recomendacion.nombre}}</h5>
            <h6 id="descTip">{{recomendacion.descripcion}}</h6>
            <footer id="footerTip">{{recomendacion.autor}} ({{recomendacion.fecha}})<br>
                <a href="{{recomendacion.enlace}}" target="_blank"><strong>Ver más</strong></a>
            </footer>
        </div>
    </div>

    <div class="containerTrainer">
        <h4 id="tituloTip">Trainer recomendado:</h4>
        <div class="innerContainerTip">
            <h5 id="nombreTip">{{trainer.nombre}}</h5>
            <h6 id="descTip">{{trainer.descripcion}}</h6>
            <footer id="footerTip">
                <a href="{{trainer.enlace}}" target="_blank">
                    <strong>Contactarlo</strong>
                </a>
            </footer>
        </div>
    </div>

    <script src='/static/scriptCalendar_Template.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="/static/scriptFilter.js"></script>
</body>

</html>